SEED: 1339 # best seed so far 1339 or 43
MODEL:
  BINARY_CLASSIFICATION: True
  OUT_CHANNELS: 2
  IN_CHANNELS: 3
  LOSS_TYPE: 'CrossEntropyLoss'
  POSITIVE_WEIGHT: 250
  NEGATIVE_WEIGHT: 1
  LEGACY: False # If True, use the fixed UNet for backwards compatibility
  TOPOLOGY: [64, 128, 256, 512,]
  BLOCK_TYPE: 'Double' # Double = Double conv, Triple = Triple conv, for greater receptive field
  SIMPLE_INTERPOLATION: False # True: Bilinear interpo, False: Deconv interpo
  USE_ATTENTION: False
  MULTISCALE_CONTEXT: # For U-Net bottleneck context module
    ENABLED: False
    TYPE: 'Simple' # [Simple, PyramidSum, ParallelSum]
    DILATION: []
  BACKBONE:
    ENABLED: False
    TYPE: 'resnet34'

THRESH: 0.0001 # Best threshold (only to be filled after running final model evaluation)
DATASETS:
  TRAIN: ("/Midgard/Data/pshi/datasets/sentinel/preprocessed/urban_extraction_debug/train/",)
  TEST: ("/Midgard/Data/pshi/datasets/sentinel/preprocessed/urban_extraction_debug/test/",)
  INFERENCE: ("/local_storage/datasets/xview2/full_new/real_test_set/",)
  PRE_OR_POST: 'pre' # 'pre' vs 'post' disaster images to use
  USE_CLAHE_VARI: False
OUTPUT_BASE_DIR: ('/Midgard/home/pshi/run_logs/unet/')
TRAINER:
  LR: 0.0001
  BATCH_SIZE: 16
  EPOCHS: 100
  EDGE_LOSS_SCALE: 1
DATALOADER:
  NUM_WORKER: 8
  SHUFFLE: True
  LEGACY_MASK_RASTERIZATION: False
  S1_FEATURES: []
  S2_FEATURES: []
  LABEL: 'guf'

AUGMENTATION:
  # Random cropping of the images
  RESIZE: False # target image size (before cropping)
  RESIZE_RATIO: 1.0
  CROP_TYPE: 'none'
  CROP_SIZE: 1024
  IMAGE_OVERSAMPLING_TYPE: 'none' # [none, simple]
  ENABLE_VARI: False # False NDVI for detecting vegetation
  RANDOM_FLIP_ROTATE: False




