SEED: 1339 # best seed so far 1339 or 43
MODEL:
  BINARY_CLASSIFICATION: True
  OUT_CHANNELS: 2
  IN_CHANNELS: 3
  LOSS_TYPE: 'CrossEntropyLoss'
  POSITIVE_WEIGHT: 250
  NEGATIVE_WEIGHT: 1
  LEGACY: False # If True, use the fixed UNet for backwards compatibility
  TOPOLOGY: [64, 128, 256, 512,]
  BLOCK_TYPE: 'Double' # Double = Double conv, Triple = Triple conv, for greater receptive field
  BLOCK_ACTIVATION: 'ReLU' # 'ReLU' or 'PReLU', PReLU is known to perform well with pooling type 2Stride
  POOLING_TYPE: 'MaxPooling' # 'MaxPooling', 'AvgPooling', '2Stride'
  SIMPLE_INTERPOLATION: False # True: Bilinear interpo, False: Deconv interpo
  USE_ATTENTION: False
  LAST_LAYER_RESIDUAL: False # Switches last layer to a Residual connection to preserve feature information
  MULTISCALE_CONTEXT: # For U-Net bottleneck context module
    ENABLED: False
    TYPE: 'Simple' # [Simple, PyramidSum, ParallelSum]
    DILATION: []
  BACKBONE:
    ENABLED: False
    TYPE: 'resnet34'
  EDGE_WEIGHTED_LOSS:
    TYPE: 'edge_loss_weight_mask' # Which preprocessed edge weight to use: e.g. edge_loss_weight_mask_32
    SCALE: 1
    WARMUP_ENABLED: False
    WARMUP_START: 0
    WARMUP_END: 1
  ADVERSARIAL_REFINEMENT:
    ENABLED: False
    DISCRIMINATOR: 'resnet50'
    ENABLE_GRADIENT_REVERSAL: False
    USE_PRETRAINED_MODEL: False


THRESH: 0.01 # Best threshold (only to be filled after running final model evaluation)
DATASETS:
  TRAIN: ("/local_storage/datasets/xview2/full_new/train/",)
  TEST: ("/local_storage/datasets/xview2/full_new/test/",)
  INFERENCE: ("/local_storage/datasets/xview2/full_new/real_test_set/",)
  PRE_OR_POST: 'pre' # 'pre' vs 'post' disaster images to use
  USE_CLAHE_VARI: False
OUTPUT_BASE_DIR: ('/Midgard/home/pshi/run_logs/unet/')
TRAINER:
  LR: 0.0001
  BATCH_SIZE: 1
  EPOCHS: 1000
DATALOADER:
  NUM_WORKER: 1
  SHUFFLE: True
  LEGACY_MASK_RASTERIZATION: False

AUGMENTATION:
  # Random cropping of the images
  RESIZE: False # target image size (before cropping)
  RESIZE_RATIO: 1.0
  CROP_TYPE: 'none'
  CROP_SIZE: 1024
  IMAGE_OVERSAMPLING_TYPE: 'none' # [none, simple]
  ENABLE_VARI: False # False NDVI for detecting vegetation
  RANDOM_FLIP_ROTATE: False




